{% extends "_base.html" %}

{% block title %}Posts List{% endblock %}

{% block content %}
    <div class="card-group">
	{% for post in posts %}
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.text }}</p>
        <a href="{% url 'post-view' post.id %}" class="btn btn-success">Read More</a>
      </div>
    </div>
	{% endfor %}
    </div>
    {% if not posts %}
        <p>No Results Found</p>
    {% endif %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if previous_page %}
        <li class="page-item"><a class="page-link" title="Previous" href="{{ previous_page }}">←</a></li>
        {% endif %}
        {% for page_name, page_data in pages_links.items %}
        <li class="page-item"><a class="page-link btn {% if page_data.disabled %}btn-info disabled{% endif %}" title="{{ page_name }}" href="{{ page_data.link }}">{{page_name}}</a></li>
        {% endfor %}
        {% if next_page %}
        <li class="page-item"><a class="page-link" title="Next" href="{{ next_page }}">→</a></li>
        {% endif %}
      </ul>
    </nav>
{% endblock %}
